html,
body {
  background-color: #075e917e;
}

.solar-system {
  position: absolute;
  width: 1600px;
  height: 1600px;
  overflow: hidden;
}

#sun,
.orbit,
.orbit + div,
.orbit + div > div {
  position: absolute;
}
#sun,
.orbit,
.orbit + div {
  top: 50%;
  left: 50%;
}
.orbit + div > div {
  top: 0;
  left: 50%;
}
.orbit,
.orbit + div div,
#earth-planet {
  border-radius: 50%;
}

.orbit {
  border: 1px dashed white;
}

#sun {
  height: 100px;
  width: 100px;
  margin-top: -480px; /* (-280px - 200px) */
  margin-left: -475px; /* (-275px - 200px) */
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 0 0 60px #cf952a;
}

.sun-spin {
  width: 500px;
  height: 500px;
  margin-left: -337.5px; /* (-62.5px - 200px) */
  margin-top: -340px; /* (-60px - 200px) */
}

#mercury-planet {
  margin-top: -6.5px; /* (-189.5px - 200px) */
  margin-left: 34.5px; /* (-189.5px - 200px) */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 0 34px #a65e22;
}

.mercury-orbit,
.mercury-spin {
  width: 145px;
  height: 145px;
  margin-left: -495px; /* (-295px - 200px) */
  margin-top: -500px; /* (-300px - 200px) */
}

.earth-orbit,
.earth-spin {
  width: 230px;
  height: 230px;
  margin-left: -540px; /* (-340px - 200px) */
  margin-top: -545px; /* (-345px - 200px) */
}

#venus-planet {
  margin-top: -250px; /* (-50px - 200px) */
  margin-left: 65px; /* (-180px - 200px) */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 34px #eecb8b;
}

.venus-orbit,
.venus-spin {
  margin-top: -525px; /* (-325px - 200px) */
  margin-left: -520px; /* (-320px - 200px) */
  width: 190px;
  height: 190px;
}

#earth-planet {
  position: fixed;
  top: 0;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-left: 35px; /* (-125px - 200px) */
  margin-top: -10px; /* (-125px - 200px) */
  border-radius: 50%;
  box-shadow: 0 0 34px #3a4385;
}

#mars-planet {
  margin-top: -160px; /* (40px - 200px) */
  margin-left: 125px; /* (-155px - 200px) */
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 0 34px #c1440e;
}

.mars-orbit,
.mars-spin {
  width: 280px;
  height: 280px;
  margin-left: -565px; /* (-365px - 200px) */
  margin-top: -568px; /* (-368px - 200px) */
}

#jupiter-planet {
  margin-top: 310px; /* (-240px - 200px) */
  margin-left: 250px; /* (-50px - 200px) */
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.jupiter-orbit,
.jupiter-spin {
  width: 375px;
  height: 375px;
  margin-left: -610px; /* (-410px - 200px) */
  margin-top: -615px; /* (-415px - 200px) */
}

#saturn-planet {
  margin-top: -30px; /* (145px - 200px) */
  margin-left: 200px; /* (-100px - 200px) */
  height: 70px;
  width: 140px;
}

.saturn-orbit,
.saturn-spin {
  width: 440px;
  height: 440px;
  margin-left: -645px; /* (-445px - 200px) */
  margin-top: -645px; /* (-445px - 200px) */
}

#uranus-planet {
  margin-top: 0px; /* (200px - 200px) */
  margin-left: 115px; /* (240px - 200px) */
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.uranus-orbit,
.uranus-spin {
  width: 525px;
  height: 525px;
  margin-left: -690px; /* (-490px - 200px) */
  margin-top: -690px; /* (-490px - 200px) */
}

#neptune-planet {
  margin-top: 220px; /* (-220px - 200px) */
  margin-left: -20px; /* (150px - 200px) */
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.neptune-orbit,
.neptune-spin {
  width: 600px;
  height: 600px;
  margin-left: -725px; /* (-525px - 200px) */
  margin-top: -725px; /* (-525px - 200px) */
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

.mercury-spin {
  animation: spin-right 8.8s linear infinite;
}

.earth-spin {
  animation: spin-right 36.5s linear infinite;
}

.venus-spin {
  animation: spin-right 22s linear infinite;
}

.mars-spin {
  animation: spin-right 30s linear infinite;
}

.jupiter-spin {
  animation: spin-right 60s linear infinite;
}

.saturn-spin {
  animation: spin-right 80s linear infinite;
}

.uranus-spin {
  animation: spin-right 100s linear infinite;
}

.neptune-spin {
  animation: spin-right 120s linear infinite;
}
