body {
  background-color: black;
  color: white;
  font-family: "Electrolize", sans-serif;
  padding: 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#planet {
  width: 20em;
  height: 19em;
  background: url(/images/mercury-rectangle.jpg);
  box-shadow: inset -2em -2em 2em #000, -0.5em -0.5em 1em #9c9696;
  position: relative;
  animation: rotate 30s linear infinite;
}

#planet {
  border-radius: 50%;
  background-repeat: repeat;
  background-size: 200% 100%;
}

img {
  cursor: zoom-in;
}

/*
.zoom {
  transform: scale(1.5);
  z-index: 999;
  cursor: zoom-out;
  display: block;
  position: fixed;
}
*/

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-image span {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 600px;
  object-fit: cover;
}

#content {
  margin: 20px auto;
}

#content label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

#content .dropdown {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s, padding 0.5s;
}

#content input[type="radio"]:checked + label + .dropdown {
  max-height: 1000px;
  padding: 10px 10px 20px;
}

#content input[type="radio"]:checked + label {
  content: "-";
}

.planet-container span {
  font-size: 24px;
}

/* #content button {
  background-color: #4b4baf;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#content button:hover,
#content button:focus {
  background-color: #5c5cc7;
} */

#content button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  background-color: #4b4baf;
  outline: none;
  border-style: none;
}

#content button:hover,
#content button:focus {
  background-color: #5c5cc7;
}

#prevButton {
  display: none;
  float: left;
}

#nextButton {
  margin-left: auto;
  float: right;
}

@keyframes rotate {
  to {
    background-position: -200% 0;
  }
}

@keyframes orbit {
  49% {
    z-index: 1;
  }
  50% {
    left: 25em;
    z-index: -1;
  }
  99% {
    z-index: -1;
  }
  100% {
    left: -11em;
    z-index: 1;
  }
}
