/* For webkit browsers */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar as a percentage of the viewport width */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; /* Set the color of the scrollbar handle on hover */
}

.cockpit {
  height: 100vh;
  background-color: black;
  margin: 0; /* Reset margin to ensure consistency */
  font-family: "Electrolize", sans-serif;
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #708090;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 4;
}

#continueMessage {
  font-size: 1.5rem;
  margin-top: 20px;
}
.bg-vid {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

#title {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7rem;
  font-weight: bold;
  height: 38vh;
  width: 30vw;
  padding-top: 0.8vh;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20%;
}

#loading-message {
  padding-top: 15vh;
}

#continueMessage {
  display: none;
  text-align: center;
}

.bgimg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: -1; /* Ensure the image is behind other content */
}

.cockpit-terminal {
  width: 99vw;
}

.terminal {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 28.5vh;
  left: 0.7vw;
  width: 98.9vw;
  height: 70vh;
  justify-content: space-between;
}

.terminal-side {
  display: flex;
  flex-direction: column;
  width: 26vw;
  height: 100%;
}

.terminal-side button {
  width: 15vw;
  height: 10vh;
  border: 0;
  border-radius: 1vw;
  padding: 1vw;
  text-align: center;
  overflow: hidden; /* Hide any overflowing text */
  box-shadow: 0 0px 0px #000000;
}

#liftoff-button:hover {
  box-shadow: 0 0 0.6vw 0 #00ced1;
  background-color: #00ced1; /* Teal or Cyan color */
}

#liftoff-button:active {
  box-shadow: none;
  background-color: #002040; /* Darker shade on active/press */
}

#logout-button {
  background-color: #990000;
  border: 0.3vw solid #ff3333;
}
#logout-button:hover {
  box-shadow: 0 0 0.6vw 0 #ff3333; /* Red shadow on hover */
  background-color: #ff3333; /* Red color on hover */
}

#logout-button:active {
  box-shadow: none;
  background-color: #990000; /* Darker red shade on active/press */
}

.terminal-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 16vh;
  width: 100%;
  gap: 0.5vw;
  border: #08d9dd 0.6vw solid;
  border-radius: 4vw 1vw 4vw 1vw; /*top left, top right ,bottom right, bottom left*/
  background-color: rgba(8, 217, 221, 0.2);
  transition: box-shadow 500ms;
  box-shadow: 0 0 0.6vw #000000;
}

.terminal-buttons:hover {
  box-shadow: 0 0 0.6vw #00ced1;
}

.main-screen {
  position: relative;
  width: 73.5vw;
  height: 48.8vh;
  margin-right: 1vw;
  border: #08d9dd 0.6vw solid;
  border-radius: 4vw 1vw 1vw 11vw; /*top left, top right ,bottom right, bottom left*/
  margin-top: auto;
  transition: box-shadow 500ms;
  box-shadow: 0 0 0.6vw #000000;
}

.main-screen:hover {
  box-shadow: 0 0 0.6vw #00ced1;
}

.side-screen {
  position: relative;
  width: 100%;
  height: 48.8vh;
  border: #08d9dd 0.6vw solid;
  border-radius: 1vw 4vw 11vw 1vw; /*top left, top right ,bottom right, bottom left*/
  margin-top: auto;
  transition: box-shadow 500ms;
  box-shadow: 0 0 0.6vw #000000;
}

.side-screen:hover {
  box-shadow: 0 0 0.6vw #00ced1;
}

.container {
  /* Adjust the container styles as needed */
  position: relative;
  z-index: 1; /* Ensure the container is above the background image */
}
