/* For webkit browsers */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar as a percentage of the viewport width */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; /* Set the color of the scrollbar handle on hover */
}

.cockpit {
  height: 100%;
  background-color: black;
  margin: 0; /* Reset margin to ensure consistency */
  font-family: "Electrolize", sans-serif;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #708090;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 4;
}

#continueMessage {
  font-size: 1.5rem;
  margin-top: 20px;
}
.bg-vid {
  position: absolute;
  width: 100%;
  z-index: -2;
}

#title {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7rem;
  font-weight: bold;
  height: 38vh;
  width: 30vw;
  padding-top: 0.8vh;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20%;
}

#loading-message {
  padding-top: 15vh;
}

#continueMessage {
  display: none;
  text-align: center;
}

#scroll-button {
  background-color: #f0f0f0;
  color: #000;
  box-shadow: 0px 0px 10px 0px #000;
  position: absolute;
  margin-top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll-button:hover {
  box-shadow: 0px 0px 20px 0px #fff;
}

#scroll-button:active {
  box-shadow: none;
  background-color: #bbb;
}
.bgimg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 170vh;
  object-fit: fill;
  z-index: -1; /* Ensure the image is behind other content */
}

.cockpit-terminal {
  width: 99vw;
}

.terminal {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 95.6vh;
  left: 2.1vw;
  width: 95.5vw;
  height: 72vh;
  justify-content: space-between;
}

.terminal-side {
  display: flex;
  flex-direction: column;
  width: 24vw;
  height: 100%;
}

.terminal-side button {
  width: 10vw;
  height: 13vh;
  border: #2f2f2f 8px solid;
  border-radius: 25px;
  padding: 1vw;
  text-align: center;
}

.terminal-buttons {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  gap: 1.8vw;
  margin-top: auto;
}

.main-screen {
  position: relative;
  width: 69.3vw;
  height: 71vh;
  margin-right: 2vw;
  border: #2f2f2f 8px solid;
  border-radius: 25px;
}

.side-screen {
  position: relative;
  width: 100%;
  height: 54.8vh;
  border: #2f2f2f 8px solid;
  border-radius: 25px;
}

.container {
  /* Adjust the container styles as needed */
  position: relative;
  z-index: 1; /* Ensure the container is above the background image */
}
